@import url('https://fonts.googleapis.com/css?family=Krub:700|Krub:400');

:root[data-theme="light"] {
  --text: #0e1416;
  --background: #deeaed;
  --primary: #167998;
  --secondary: #6dcce8;
  --accent: #0fb4e6;
  --shadow: rgba(14, 20, 22, 0.3)
}
:root[data-theme="dark"] {
  --text: #e9eff1;
  --background: #121e21;
  --primary: #67cbe9;
  --secondary: #177592;
  --accent: #19bef0;
  --shadow: rgba(103, 203, 233, 0.3)
}

body {
  font-family: 'Krub';
  font-weight: 400;
  background: var(--background);
  color: var(--text);
  transition: 0.2s ease-in;
  max-width: 100%;
  min-height: 1000px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Krub';
  font-weight: 700;
}

html {font-size: 100%;}

h1 {font-size: 3.366rem; color: var(--primary);}

h2 {font-size: 2.525rem;}

h3 {font-size: 1.894rem;}

h4 {font-size: 1.421rem;}

h5 {font-size: 1.066rem;}

a {font-size: 1.421rem;}

small {font-size: 0.600rem;}

.darkswitch {
  position: fixed;
  bottom: 2%;
  right: 1%;
  height: 50px;
  width: 50px;
  font-size: 1.6rem;
  border-radius: 100px;
  background: var(--text);
  border: unset;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px,
}

.darkswitch:active {
  transform: scale(0.9);
}

.darkswitch:hover {
  transition: 0.5s;
  transform: rotate(360deg);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.transRight:hover {
  transform: translateX(20px);
}

.space {margin-bottom: 200px;}

nav {
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background);
  border: #eef6f4;
  border-width: 2px;
  box-shadow: var(--shadow) 0px 1px 0px;
  display: flex;
}

li {float: left;}
li a {
  display: flex;
  color: var(--text);
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}
li img{
  height: 40px;
  width: auto;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}
li a:hover:not(.active) {
  background-color: var(--secondary);
}

[data-theme="dark"] .switchingimg {
  filter: invert(100%);
}
.active {background-color: var(--secondary);}
.active:hover {background-color: var(--accent);}

.logo {
  border-radius: 100%;
  box-shadow: var(--shadow) 0px 10px 10px;;
}

.logo:hover {
  transition: 0.5s;
  transform: rotate(360deg);
}